.header__lang-link_ru {
    position: absolute;
    width: 30px;
    height: 28px;
    top: 18px;
    right: 47px;
    bottom: 6px;
    text-decoration: underline;
    /*border: 1px solid blue;*/
   }

@media screen and (max-width: 1279px) {  
}

@media screen  and (max-width: 1023px) {   
}

@media screen and (max-width: 767px) {  
 
  .header__lang-link_ru {
    width: 20px;
    height: 22px;
    top: 14px;
    right: 40px;
    bottom: 8px;
    }  
}

@media screen and (min-width: 320px) and (max-width: 424px) {
         
  .header__lang-link_ru {
    width: 20px;
    height: 22px;
    top: 14px;
    right: 40px;
    bottom: 8px;
    }
}