
  body {
    background-color: #E5E5E5;
    color: #FFFFFF;
  } 

  .page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter';
    background-color: #2A2C2F;    
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
    text-rendering: optimizeLegibility;
  }
  .header {
    width: 100%;
    height: 136px;
    /*border: 1px solid blue;*/
  }

.header__container {
    /*max-width: 1184px;*/
    width: 92.5%;
    height: 52px;
    padding: 28px 0 56px;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    /*border: 1px solid greenyellow;*/
  }

   .header__logo {
    width: 176px;
    height: 52px;
    position: absolute;
    top: 28px;
    /*border: 1px solid red;*/
  }

   .header__lang-link {
    font-size: 1.5rem;
    line-height: 1.167;
    font-style: normal;
    text-align: right;
  }

   .header__lang-link_ru {
    position: absolute;
    width: 30px;
    height: 28px;
    top: 18px;
    right: 47px;
    bottom: 6px;
    text-decoration: underline;
    /*border: 1px solid blue;*/
   }

   .header__lang-link_en {
    position: absolute;
    width: 29px;
    height: 28px;
    top: 18px;
    right: 0;
    bottom: 6px;
   }

   .lead {
    box-sizing: border-box;
    position: relative;
    height: 1005px;
    max-width: 984px;
    width: 76.875%;
    margin: 0 auto;
    /*border: 1px solid pink;*/
   }

  .lead__title {
    height: 200px;
    width: 73.2%;
    /*max-width: 720px;*/    
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 6rem;
    line-height: 1.04;
    text-align: center;
    /*border: 1px solid green;*/
  }
  
  .lead__subtitle {
    max-width: 640px;
    width: 65%;
    /*height: 72px;*/
    margin: 32px auto 0;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 1.2;
    text-align: center;    
    /*border: 1px solid yellow;*/
  }
  
  .lead__image {
    max-width: 984px;
    /*max-height: 615px;*/
    width: 100%;
    margin: 64px auto 0;
  }

  .lead__caption {
    height: 14px;
    width: 984px;
    margin: 8px auto 0;
    text-align: left;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase; 
  }

 .intro {
     display: flex;
     flex-direction: column;     
     height: 429px;
     width:77%;
     margin: 92px auto;
     border: 1px solid palevioletred;
   }

   .intro__title {
      height: 58px;
      max-width: 690px;
      /*width: 70%;*/
      padding-right: 294px;
      margin: 0;
      font-style: normal;
      font-weight: 900;
      font-size: 54px;
      line-height: 1.07;      
      border: 1px solid yellow;
   }
   
   .intro__text {
      height: 208px;
      /*width: 70%;*/
      padding-right: 294px;
      margin: 40px 0 33px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.63;
      border: 1px solid red;
   }

   .intro__list {
      height: 90px;
      margin: 0;
      padding: 0 294px 0 0;
      list-style-type: none;
      text-decoration: none;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;      
      line-height: 1.5;
   }

   
  @media screen and (min-width: 1024px) and (max-width: 1279.98px) {
    
   .lead {     
    width: 90.625%;
    height: 962px;
    /*max-width: 984px;*/
    }
    .lead__subtitle {
      width: 69%;
    }

    .lead__image {
        /*max-width: 928px;*/
        max-height: 580px;
        width: 100%;
        padding-bottom: 100%;
        margin: 64px auto 0;
      }
    .intro {
        width: 77%;
        margin: 92px auto;
    }

    .intro__title {
        padding-right: 71%;
    }

  }

  @media screen  and (min-width: 768px) and (max-width: 1023.98px) {
        
    .header {
      height: 128px;
      }

    .header__container {
      width: 90.6%;
      padding: 28px 0 48px;
      }

    .lead {
      width: 100%;
      height: 862px;
      /*max-width: 984px;*/        
      }

    .lead__title {
      width: 93.75%;
      /*height: 21.7%;*/
      font-size: 6rem;
      line-height: 1.04;
      }

    .lead__subtitle {
      width: 83.3%;
    }

    .lead__image {
        min-height: 480px;
        margin: 56px auto 0;
      }
    .intro {
      /*height: 754px;*/
      width: 94%;
      margin: 88px auto;
      }   

    .intro__title {
      padding-right: 0;
      max-width: 720px;
    }
  }
  
  @media screen and (min-width: 425px) and (max-width: 767.98px) {
    
    .header {
      height: 106px;
      }

    .header__container {
      width: 90%;
      height: 42px;
      padding: 16px 0 48px;
      }
    
    .header__logo {
      width: 142px;
      height: 42px;
      top: 16px;
      }
    
    .header__lang-link {
      font-size: 1.125rem;
      line-height: 1.1;
      }  
    .header__lang-link_ru {
      width: 20px;
      height: 22px;
      top: 14px;
      right: 40px;
      bottom: 8px;        
      }
      
    .header__lang-link_en {
      width: 20px;
      height: 22px;
      top: 14px;
      bottom: 8px;
      }

    .lead {     
      height: 406px;
      /*max-width: 984px;*/
      width: 100%;
      }
    
    .lead__title {
      height: 21.7%;
      width: 90%;
      font-size: 2.5rem;
      line-height: 1.1;      
      }

    .lead__subtitle {
      width: 90%;
      font-size: 1.rem;
      line-height: 1.25;
      }

    .lead__image {
       margin: 40px auto 0;
      }

    .intro {        
      width: 90%;
      margin: 64px auto;
      }

    .intro__title {
      padding-right: 0;
      width: 90%;
      font-size: 32px;
      line-height: 1.1;
      }       
  }
   
  @media screen and (min-width: 320px) and (max-width: 424.98px) {
    
    .header {
      height: 106px;
      }
    
    .header__container {
      width: 90%;
      height: 42px;
      padding: 16px 0 48px;
      }

    .header__logo {
      width: 142px;
      height: 42px;
      top: 16px;
      }
    
    .header__lang-link {
      font-size: 1.125rem;
      line-height: 1.1;
    }

    .header__lang-link_ru {
      width: 20px;
      height: 22px;
      top: 14px;
      right: 40px;
      bottom: 8px;        
       }
    
    .header__lang-link_en {
      width: 20px;
      height: 22px;
      top: 14px;
      bottom: 8px;
      }    

    .lead {     
      height: 406px;
      /*max-width: 984px;*/
      width: 100%;
      }

    .lead__title {
      height: 21.7%;
      width: 90%;
      font-size: 2.5rem;
      line-height: 1.1;
      }

    .lead__subtitle {
      width: 90%;
      font-size: 1rem;
      line-height: 1.25;
      }
    .lead__image {
      height: 200px;
      margin: 40px auto 0;
      }
    .intro {
      /*height: 754px;*/
      width: 90%;
      margin: 64px auto;
    }

    .intro__title {
        padding-right: 0;
        width: 90%;
        font-size: 32px;
        line-height: 1.1;
        }
  }