.header {
    width: 100%;
    height: 136px;
    /*border: 1px solid blue;*/
  }

  @media screen and (max-width: 1279px) {

  }

  @media screen  and (max-width: 1023px) {
    .header {
        height: 128px;
        }
  }

  @media screen and (max-width: 767px) {
    .header {
        height: 106px;
        }
  }

  @media screen and (min-width: 320px) and (max-width: 424px) {
    .header {
        height: 106px;
        }
  }