.footer__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    max-height: 248px;
    margin: 0 0 48px;
  }
}