.place__paragraph {
	grid-area: paragraph;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.63;
	text-align: left;
  }
  
  .place__content:nth-child(2) {
	margin-top: 26px;
  }
  
  @media screen and (max-width: 1279px) {
	.place__content:nth-child(2) {
	  margin-top: 27px;
	}
  }
  
  @media screen and (max-width: 1023px) {
	.place__content {
	  font-size: 16px;
	}
	.place__content:nth-child(2) {
	  margin-top: 25px;
	}
  }
  
  @media screen and (max-width: 767px) {
	.place__content {
	  margin: 0 16px;
	}
  }
  
  @media screen and (min-width: 320px) and (max-width: 424px) {
  }
  