
.cover {
    max-width: (100% - 48px *2);    
    margin: 12 auto 0;
    box-sizing: border-box;
    border: 1px solid yellow;
  }

 
@media screen and (max-width: 1279px) {   
    .cover {
        
      }
}

@media screen  and (max-width: 1023px) {     
    .cover {
        
      }
}

@media screen and (max-width: 767px) {
    .cover {
        
      }      
}
 
@media screen and (min-width: 320px) and (max-width: 424px) {     
    .cover {
       
      }
}
