
.footer {
  margin: 92px auto 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  width: 100%;
  /*width: calc(100% - 24px * 2);*/
  height: 100%;
  /*border: 1px solid pink;*/
}

@media screen and (max-width: 1279px) {}

@media screen and (max-width: 1023px) {
  .footer {
      margin: 88px auto 24px;
      width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px) {
  .footer {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin: 64px auto 24px;
      width: calc(100% - 16px * 2);
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {}