
.place__website {    
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  text-align: left;
  color: #FFFFFF;
  }

.place__website:link {
  color: #FFFFFF;
  }
.place__website:hover {
  color: #00f;
  }
.place__website:visited {
  color: #FFFFFF;
  }